// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Company default profile pic
@import './default_profile.scss';


 
tr td:last-child {
    width: 1%;
    white-space: nowrap;
}