$pi_default_width : 90px;


.profile-image {
    width: $pi_default_width;
    height: $pi_default_width;


    &.initials {
        font-size: 30px;
        color: #fff;
        text-align: center;
        line-height:$pi_default_width;
        border-radius: 50%;
        background: #512DA8;
    }
}
